<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Download Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-success" role="alert">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        <a href="{{ url_for('download_file', filename=filename) }}" id="download-link" class="btn btn-primary">Download Report</a>
    </div>

    <script>
        // Automatically trigger the download link after the page loads
        window.onload = function() {
            document.getElementById('download-link').click();
        };
    </script>
</body>
</html>
